--
-- PostgreSQL database dump
--

-- Dumped from database version 12.4
-- Dumped by pg_dump version 12.4

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: ai_functionalities; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.ai_functionalities (
    id integer NOT NULL,
    name character varying NOT NULL,
    description text,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.ai_functionalities OWNER TO openpg;

--
-- Name: ai_functionalities_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.ai_functionalities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ai_functionalities_id_seq OWNER TO openpg;

--
-- Name: ai_functionalities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.ai_functionalities_id_seq OWNED BY public.ai_functionalities.id;


--
-- Name: ai_parameters; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.ai_parameters (
    id integer NOT NULL,
    functionality_id integer NOT NULL,
    key character varying NOT NULL,
    value character varying NOT NULL,
    description character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.ai_parameters OWNER TO openpg;

--
-- Name: ai_parameters_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.ai_parameters_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ai_parameters_id_seq OWNER TO openpg;

--
-- Name: ai_parameters_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.ai_parameters_id_seq OWNED BY public.ai_parameters.id;


--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.audit_logs (
    id integer NOT NULL,
    resource_type character varying,
    resource_id character varying,
    discrepancy_type character varying,
    severity character varying,
    description text,
    source_value character varying,
    target_value character varying,
    status character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.audit_logs OWNER TO openpg;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.audit_logs_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.audit_logs_id_seq OWNER TO openpg;

--
-- Name: audit_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.audit_logs_id_seq OWNED BY public.audit_logs.id;


--
-- Name: channels; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.channels (
    id integer NOT NULL,
    name character varying NOT NULL,
    type character varying,
    description character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.channels OWNER TO openpg;

--
-- Name: channels_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.channels_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.channels_id_seq OWNER TO openpg;

--
-- Name: channels_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.channels_id_seq OWNED BY public.channels.id;


--
-- Name: inventory_captures; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.inventory_captures (
    id integer NOT NULL,
    capture_type character varying NOT NULL,
    article_code character varying NOT NULL,
    article_description character varying NOT NULL,
    batch character varying NOT NULL,
    quantity double precision NOT NULL,
    capture_date character varying NOT NULL,
    capture_time character varying NOT NULL,
    department character varying,
    out_of_range boolean,
    user_id integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.inventory_captures OWNER TO openpg;

--
-- Name: inventory_captures_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.inventory_captures_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_captures_id_seq OWNER TO openpg;

--
-- Name: inventory_captures_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.inventory_captures_id_seq OWNED BY public.inventory_captures.id;


--
-- Name: inventory_headers; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.inventory_headers (
    id integer NOT NULL,
    correlative character varying NOT NULL,
    date timestamp with time zone DEFAULT now(),
    user_id integer,
    status character varying,
    notes text
);


ALTER TABLE public.inventory_headers OWNER TO openpg;

--
-- Name: inventory_headers_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.inventory_headers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_headers_id_seq OWNER TO openpg;

--
-- Name: inventory_headers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.inventory_headers_id_seq OWNED BY public.inventory_headers.id;


--
-- Name: inventory_lines; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.inventory_lines (
    id integer NOT NULL,
    header_id integer,
    article_code character varying NOT NULL,
    article_description character varying NOT NULL,
    batch character varying NOT NULL,
    quantity double precision NOT NULL
);


ALTER TABLE public.inventory_lines OWNER TO openpg;

--
-- Name: inventory_lines_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.inventory_lines_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.inventory_lines_id_seq OWNER TO openpg;

--
-- Name: inventory_lines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.inventory_lines_id_seq OWNED BY public.inventory_lines.id;


--
-- Name: logistics_dispatch; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.logistics_dispatch (
    id integer NOT NULL,
    date timestamp with time zone DEFAULT now(),
    client_destination character varying NOT NULL,
    document_ref character varying,
    items_json text NOT NULL,
    route_id integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.logistics_dispatch OWNER TO openpg;

--
-- Name: logistics_dispatch_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.logistics_dispatch_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.logistics_dispatch_id_seq OWNER TO openpg;

--
-- Name: logistics_dispatch_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.logistics_dispatch_id_seq OWNED BY public.logistics_dispatch.id;


--
-- Name: logistics_reception_merchandise; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.logistics_reception_merchandise (
    id integer NOT NULL,
    date timestamp with time zone DEFAULT now(),
    supplier character varying NOT NULL,
    document_ref character varying,
    items_json text NOT NULL,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.logistics_reception_merchandise OWNER TO openpg;

--
-- Name: logistics_reception_merchandise_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.logistics_reception_merchandise_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.logistics_reception_merchandise_id_seq OWNER TO openpg;

--
-- Name: logistics_reception_merchandise_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.logistics_reception_merchandise_id_seq OWNED BY public.logistics_reception_merchandise.id;


--
-- Name: logistics_reception_production; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.logistics_reception_production (
    id integer NOT NULL,
    date timestamp with time zone DEFAULT now(),
    production_report_id character varying,
    product_name character varying NOT NULL,
    quantity double precision,
    status character varying,
    notes text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.logistics_reception_production OWNER TO openpg;

--
-- Name: logistics_reception_production_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.logistics_reception_production_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.logistics_reception_production_id_seq OWNER TO openpg;

--
-- Name: logistics_reception_production_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.logistics_reception_production_id_seq OWNED BY public.logistics_reception_production.id;


--
-- Name: logistics_routes; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.logistics_routes (
    id integer NOT NULL,
    name character varying NOT NULL,
    active boolean,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.logistics_routes OWNER TO openpg;

--
-- Name: logistics_routes_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.logistics_routes_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.logistics_routes_id_seq OWNER TO openpg;

--
-- Name: logistics_routes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.logistics_routes_id_seq OWNED BY public.logistics_routes.id;


--
-- Name: message_statuses; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.message_statuses (
    id integer NOT NULL,
    user_id integer,
    message_id integer
);


ALTER TABLE public.message_statuses OWNER TO openpg;

--
-- Name: message_statuses_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.message_statuses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.message_statuses_id_seq OWNER TO openpg;

--
-- Name: message_statuses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.message_statuses_id_seq OWNED BY public.message_statuses.id;


--
-- Name: messages; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.messages (
    id integer NOT NULL,
    body text NOT NULL,
    message_type character varying,
    author_id integer,
    channel_id integer,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.messages OWNER TO openpg;

--
-- Name: messages_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.messages_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.messages_id_seq OWNER TO openpg;

--
-- Name: messages_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.messages_id_seq OWNED BY public.messages.id;


--
-- Name: notification_subscribers; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.notification_subscribers (
    id integer NOT NULL,
    name character varying NOT NULL,
    email character varying NOT NULL,
    report_type character varying,
    is_active boolean,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.notification_subscribers OWNER TO openpg;

--
-- Name: notification_subscribers_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.notification_subscribers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notification_subscribers_id_seq OWNER TO openpg;

--
-- Name: notification_subscribers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.notification_subscribers_id_seq OWNED BY public.notification_subscribers.id;


--
-- Name: production_planning; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.production_planning (
    id integer NOT NULL,
    order_number character varying,
    date character varying NOT NULL,
    article character varying NOT NULL,
    presentation character varying NOT NULL,
    batches integer,
    kg double precision,
    units integer,
    units_pending integer,
    boxes double precision,
    waste_percentage double precision,
    waste_kg double precision,
    status character varying,
    notes text,
    color character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.production_planning OWNER TO openpg;

--
-- Name: production_planning_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.production_planning_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.production_planning_id_seq OWNER TO openpg;

--
-- Name: production_planning_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.production_planning_id_seq OWNED BY public.production_planning.id;


--
-- Name: production_reports; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.production_reports (
    id character varying NOT NULL,
    batch_qty integer NOT NULL,
    article_type character varying NOT NULL,
    kg_produced double precision NOT NULL,
    presentation character varying NOT NULL,
    boxes double precision,
    pt_units integer,
    pt_lab integer,
    pt_burned integer,
    mp_containers integer,
    mp_caps_clean integer,
    mp_caps_dirty integer,
    mp_waste_kg double precision,
    mp_waste_image character varying,
    order_number character varying,
    status character varying,
    planning_order_ids text,
    cons_type character varying,
    cons_count double precision,
    cons_unit_weight double precision,
    cons_qty double precision,
    notes text,
    color character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.production_reports OWNER TO openpg;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.roles (
    id integer NOT NULL,
    name character varying NOT NULL,
    permissions text,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.roles OWNER TO openpg;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.roles_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO openpg;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: support_departments; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.support_departments (
    id integer NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.support_departments OWNER TO openpg;

--
-- Name: support_departments_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.support_departments_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.support_departments_id_seq OWNER TO openpg;

--
-- Name: support_departments_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.support_departments_id_seq OWNED BY public.support_departments.id;


--
-- Name: support_priorities; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.support_priorities (
    id integer NOT NULL,
    name character varying NOT NULL,
    level integer
);


ALTER TABLE public.support_priorities OWNER TO openpg;

--
-- Name: support_priorities_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.support_priorities_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.support_priorities_id_seq OWNER TO openpg;

--
-- Name: support_priorities_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.support_priorities_id_seq OWNED BY public.support_priorities.id;


--
-- Name: support_status; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.support_status (
    id integer NOT NULL,
    name character varying NOT NULL,
    color_hex character varying
);


ALTER TABLE public.support_status OWNER TO openpg;

--
-- Name: support_status_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.support_status_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.support_status_id_seq OWNER TO openpg;

--
-- Name: support_status_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.support_status_id_seq OWNED BY public.support_status.id;


--
-- Name: support_tickets; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.support_tickets (
    id integer NOT NULL,
    code character varying NOT NULL,
    description text NOT NULL,
    attachment_url character varying,
    contact_email character varying,
    created_by_id integer,
    assigned_to_id integer,
    department_id integer,
    type_id integer,
    priority_id integer,
    status_id integer,
    created_at timestamp with time zone DEFAULT now(),
    closed_at timestamp with time zone
);


ALTER TABLE public.support_tickets OWNER TO openpg;

--
-- Name: support_tickets_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.support_tickets_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.support_tickets_id_seq OWNER TO openpg;

--
-- Name: support_tickets_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.support_tickets_id_seq OWNED BY public.support_tickets.id;


--
-- Name: support_types; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.support_types (
    id integer NOT NULL,
    name character varying NOT NULL
);


ALTER TABLE public.support_types OWNER TO openpg;

--
-- Name: support_types_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.support_types_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.support_types_id_seq OWNER TO openpg;

--
-- Name: support_types_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.support_types_id_seq OWNED BY public.support_types.id;


--
-- Name: system_insights; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.system_insights (
    id integer NOT NULL,
    category character varying,
    insight_key character varying,
    description text,
    occurrence_count integer,
    confidence_score double precision,
    last_detected timestamp with time zone DEFAULT now(),
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.system_insights OWNER TO openpg;

--
-- Name: system_insights_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.system_insights_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.system_insights_id_seq OWNER TO openpg;

--
-- Name: system_insights_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.system_insights_id_seq OWNED BY public.system_insights.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: openpg
--

CREATE TABLE public.users (
    id integer NOT NULL,
    username character varying,
    password_hash character varying,
    role integer,
    is_active integer
);


ALTER TABLE public.users OWNER TO openpg;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: openpg
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.users_id_seq OWNER TO openpg;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: openpg
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: ai_functionalities id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.ai_functionalities ALTER COLUMN id SET DEFAULT nextval('public.ai_functionalities_id_seq'::regclass);


--
-- Name: ai_parameters id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.ai_parameters ALTER COLUMN id SET DEFAULT nextval('public.ai_parameters_id_seq'::regclass);


--
-- Name: audit_logs id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.audit_logs ALTER COLUMN id SET DEFAULT nextval('public.audit_logs_id_seq'::regclass);


--
-- Name: channels id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.channels ALTER COLUMN id SET DEFAULT nextval('public.channels_id_seq'::regclass);


--
-- Name: inventory_captures id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.inventory_captures ALTER COLUMN id SET DEFAULT nextval('public.inventory_captures_id_seq'::regclass);


--
-- Name: inventory_headers id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.inventory_headers ALTER COLUMN id SET DEFAULT nextval('public.inventory_headers_id_seq'::regclass);


--
-- Name: inventory_lines id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.inventory_lines ALTER COLUMN id SET DEFAULT nextval('public.inventory_lines_id_seq'::regclass);


--
-- Name: logistics_dispatch id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.logistics_dispatch ALTER COLUMN id SET DEFAULT nextval('public.logistics_dispatch_id_seq'::regclass);


--
-- Name: logistics_reception_merchandise id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.logistics_reception_merchandise ALTER COLUMN id SET DEFAULT nextval('public.logistics_reception_merchandise_id_seq'::regclass);


--
-- Name: logistics_reception_production id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.logistics_reception_production ALTER COLUMN id SET DEFAULT nextval('public.logistics_reception_production_id_seq'::regclass);


--
-- Name: logistics_routes id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.logistics_routes ALTER COLUMN id SET DEFAULT nextval('public.logistics_routes_id_seq'::regclass);


--
-- Name: message_statuses id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.message_statuses ALTER COLUMN id SET DEFAULT nextval('public.message_statuses_id_seq'::regclass);


--
-- Name: messages id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.messages ALTER COLUMN id SET DEFAULT nextval('public.messages_id_seq'::regclass);


--
-- Name: notification_subscribers id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.notification_subscribers ALTER COLUMN id SET DEFAULT nextval('public.notification_subscribers_id_seq'::regclass);


--
-- Name: production_planning id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.production_planning ALTER COLUMN id SET DEFAULT nextval('public.production_planning_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: support_departments id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_departments ALTER COLUMN id SET DEFAULT nextval('public.support_departments_id_seq'::regclass);


--
-- Name: support_priorities id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_priorities ALTER COLUMN id SET DEFAULT nextval('public.support_priorities_id_seq'::regclass);


--
-- Name: support_status id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_status ALTER COLUMN id SET DEFAULT nextval('public.support_status_id_seq'::regclass);


--
-- Name: support_tickets id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_tickets ALTER COLUMN id SET DEFAULT nextval('public.support_tickets_id_seq'::regclass);


--
-- Name: support_types id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_types ALTER COLUMN id SET DEFAULT nextval('public.support_types_id_seq'::regclass);


--
-- Name: system_insights id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.system_insights ALTER COLUMN id SET DEFAULT nextval('public.system_insights_id_seq'::regclass);


--
-- Name: users id; Type: DEFAULT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.users ALTER COLUMN id SET DEFAULT nextval('public.users_id_seq'::regclass);


--
-- Data for Name: ai_functionalities; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.ai_functionalities (id, name, description, is_active, created_at) FROM stdin;
1	Optimization	Optimizaci├│n de procesos de producci├│n	t	2026-02-15 00:31:18-04
2	Audit	Auditor├¡a de consistencia de datos	t	2026-02-15 00:31:18-04
3	Predictive	An├ílisis predictivo de inventario	t	2026-02-15 00:31:18-04
\.


--
-- Data for Name: ai_parameters; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.ai_parameters (id, functionality_id, key, value, description, created_at) FROM stdin;
1	1	efficiency_target	0.95	Meta de eficiencia global	2026-02-15 00:31:18-04
2	2	tolerance_threshold	0.02	Tolerancia de error en auditor├¡a	2026-02-15 00:31:18-04
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: openpg
--



--
-- Data for Name: channels; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.channels (id, name, type, description, created_at) FROM stdin;
\.


--
-- Data for Name: inventory_captures; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.inventory_captures (id, capture_type, article_code, article_description, batch, quantity, capture_date, capture_time, department, out_of_range, user_id, created_at) FROM stdin;
\.


--
-- Data for Name: inventory_headers; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.inventory_headers (id, correlative, date, user_id, status, notes) FROM stdin;
5	INV-20260126-0001	2026-01-25 20:00:00-04	5	Confirmed	INVENTARIO DE PT AL 23-01-2026
7	INV-20260128-0001	2026-01-27 20:00:00-04	1	Confirmed	inventario aceite
8	INV-20260213-0001	2026-02-12 20:00:00-04	14	Confirmed	INVENTARIO GENERAL 13.02.2026
9	INV-20260218-0001	2026-02-17 20:00:00-04	14	Confirmed	Prueba
\.


--
-- Data for Name: inventory_lines; Type: TABLE DATA; Schema: public; Owner: openpg
--



--
-- Data for Name: logistics_dispatch; Type: TABLE DATA; Schema: public; Owner: openpg
--



--
-- Data for Name: logistics_reception_merchandise; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.logistics_reception_merchandise (id, date, supplier, document_ref, items_json, created_at) FROM stdin;
\.


--
-- Data for Name: logistics_reception_production; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.logistics_reception_production (id, date, production_report_id, product_name, quantity, status, notes, created_at) FROM stdin;
\.


--
-- Data for Name: logistics_routes; Type: TABLE DATA; Schema: public; Owner: openpg
--



--
-- Data for Name: message_statuses; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.message_statuses (id, user_id, message_id) FROM stdin;
\.


--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.messages (id, body, message_type, author_id, channel_id, created_at) FROM stdin;
\.


--
-- Data for Name: notification_subscribers; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.notification_subscribers (id, name, email, report_type, is_active, created_at) FROM stdin;
\.


--
-- Data for Name: production_planning; Type: TABLE DATA; Schema: public; Owner: openpg
--



--
-- Data for Name: production_reports; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.production_reports (id, batch_qty, article_type, kg_produced, presentation, boxes, pt_units, pt_lab, pt_burned, mp_containers, mp_caps_clean, mp_caps_dirty, mp_waste_kg, mp_waste_image, order_number, status, planning_order_ids, cons_type, cons_count, cons_unit_weight, cons_qty, notes, color, created_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: openpg
--



--
-- Data for Name: support_departments; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.support_departments (id, name) FROM stdin;
1	IT
2	Infraestructura
3	Software
4	Administrativo
6	Facturaci├│n
7	Administraci├│n
8	Contabilidad
9	Direcci├│n
10	Calidad
11	Logistica
12	Cuentas x Cobrar
13	Compras
14	Almacen
15	Seguridad Patromonial
\.


--
-- Data for Name: support_priorities; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.support_priorities (id, name, level) FROM stdin;
1	Baja	1
2	Media	2
3	Alta	3
4	Urgente	4
\.


--
-- Data for Name: support_status; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.support_status (id, name, color_hex) FROM stdin;
1	Abierto	#EF4444
2	En Proceso	#F59E0B
3	Pendiente Repuesto	#8B5CF6
4	Cerrado	#10B981
\.


--
-- Data for Name: support_tickets; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.support_tickets (id, code, description, attachment_url, contact_email, created_by_id, assigned_to_id, department_id, type_id, priority_id, status_id, created_at, closed_at) FROM stdin;
1	SOP-001	Levantar mapa de servicios \r\n\r\nlevantar todo el mapa de servicios con ip	\N	soporte@deliciasdebelen.com	1	\N	1	1	3	1	2026-02-18 12:12:40-04	\N
\.


--
-- Data for Name: support_types; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.support_types (id, name) FROM stdin;
1	Hardware
2	Conectividad
3	Software ERP
4	Accesos
5	Impresoras
6	Profit
7	Profit Administrativo
8	Profit N├│mina
9	Profit Contabilidad
10	Conexi├│n
11	Internet
12	Reportes
13	Formatos
14	Mouse
15	Teclado
16	Monitor
17	Manufactura
18	Equipos
\.


--
-- Data for Name: system_insights; Type: TABLE DATA; Schema: public; Owner: openpg
--

COPY public.system_insights (id, category, insight_key, description, occurrence_count, confidence_score, last_detected, created_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: openpg
--



--
-- Name: ai_functionalities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.ai_functionalities_id_seq', 4, false);


--
-- Name: ai_parameters_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.ai_parameters_id_seq', 3, false);


--
-- Name: audit_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.audit_logs_id_seq', 391, true);


--
-- Name: channels_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.channels_id_seq', 1, false);


--
-- Name: inventory_captures_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.inventory_captures_id_seq', 1, false);


--
-- Name: inventory_headers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.inventory_headers_id_seq', 10, false);


--
-- Name: inventory_lines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.inventory_lines_id_seq', 118, false);


--
-- Name: logistics_dispatch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.logistics_dispatch_id_seq', 67, true);


--
-- Name: logistics_reception_merchandise_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.logistics_reception_merchandise_id_seq', 1, false);


--
-- Name: logistics_reception_production_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.logistics_reception_production_id_seq', 1, false);


--
-- Name: logistics_routes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.logistics_routes_id_seq', 21, false);


--
-- Name: message_statuses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.message_statuses_id_seq', 1, false);


--
-- Name: messages_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.messages_id_seq', 1, false);


--
-- Name: notification_subscribers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.notification_subscribers_id_seq', 1, false);


--
-- Name: production_planning_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.production_planning_id_seq', 25, true);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.roles_id_seq', 8, false);


--
-- Name: support_departments_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.support_departments_id_seq', 16, false);


--
-- Name: support_priorities_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.support_priorities_id_seq', 5, false);


--
-- Name: support_status_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.support_status_id_seq', 5, false);


--
-- Name: support_tickets_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.support_tickets_id_seq', 2, false);


--
-- Name: support_types_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.support_types_id_seq', 19, false);


--
-- Name: system_insights_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.system_insights_id_seq', 1, false);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: openpg
--

SELECT pg_catalog.setval('public.users_id_seq', 18, false);


--
-- Name: ai_functionalities ai_functionalities_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.ai_functionalities
    ADD CONSTRAINT ai_functionalities_pkey PRIMARY KEY (id);


--
-- Name: ai_parameters ai_parameters_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.ai_parameters
    ADD CONSTRAINT ai_parameters_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: channels channels_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.channels
    ADD CONSTRAINT channels_pkey PRIMARY KEY (id);


--
-- Name: inventory_captures inventory_captures_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.inventory_captures
    ADD CONSTRAINT inventory_captures_pkey PRIMARY KEY (id);


--
-- Name: inventory_headers inventory_headers_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.inventory_headers
    ADD CONSTRAINT inventory_headers_pkey PRIMARY KEY (id);


--
-- Name: inventory_lines inventory_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.inventory_lines
    ADD CONSTRAINT inventory_lines_pkey PRIMARY KEY (id);


--
-- Name: logistics_dispatch logistics_dispatch_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.logistics_dispatch
    ADD CONSTRAINT logistics_dispatch_pkey PRIMARY KEY (id);


--
-- Name: logistics_reception_merchandise logistics_reception_merchandise_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.logistics_reception_merchandise
    ADD CONSTRAINT logistics_reception_merchandise_pkey PRIMARY KEY (id);


--
-- Name: logistics_reception_production logistics_reception_production_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.logistics_reception_production
    ADD CONSTRAINT logistics_reception_production_pkey PRIMARY KEY (id);


--
-- Name: logistics_routes logistics_routes_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.logistics_routes
    ADD CONSTRAINT logistics_routes_pkey PRIMARY KEY (id);


--
-- Name: message_statuses message_statuses_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.message_statuses
    ADD CONSTRAINT message_statuses_pkey PRIMARY KEY (id);


--
-- Name: messages messages_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_pkey PRIMARY KEY (id);


--
-- Name: notification_subscribers notification_subscribers_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.notification_subscribers
    ADD CONSTRAINT notification_subscribers_pkey PRIMARY KEY (id);


--
-- Name: production_planning production_planning_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.production_planning
    ADD CONSTRAINT production_planning_pkey PRIMARY KEY (id);


--
-- Name: production_reports production_reports_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.production_reports
    ADD CONSTRAINT production_reports_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: support_departments support_departments_name_key; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_departments
    ADD CONSTRAINT support_departments_name_key UNIQUE (name);


--
-- Name: support_departments support_departments_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_departments
    ADD CONSTRAINT support_departments_pkey PRIMARY KEY (id);


--
-- Name: support_priorities support_priorities_name_key; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_priorities
    ADD CONSTRAINT support_priorities_name_key UNIQUE (name);


--
-- Name: support_priorities support_priorities_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_priorities
    ADD CONSTRAINT support_priorities_pkey PRIMARY KEY (id);


--
-- Name: support_status support_status_name_key; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_status
    ADD CONSTRAINT support_status_name_key UNIQUE (name);


--
-- Name: support_status support_status_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_status
    ADD CONSTRAINT support_status_pkey PRIMARY KEY (id);


--
-- Name: support_tickets support_tickets_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_pkey PRIMARY KEY (id);


--
-- Name: support_types support_types_name_key; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_types
    ADD CONSTRAINT support_types_name_key UNIQUE (name);


--
-- Name: support_types support_types_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_types
    ADD CONSTRAINT support_types_pkey PRIMARY KEY (id);


--
-- Name: system_insights system_insights_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.system_insights
    ADD CONSTRAINT system_insights_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: ix_ai_functionalities_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_ai_functionalities_id ON public.ai_functionalities USING btree (id);


--
-- Name: ix_ai_functionalities_name; Type: INDEX; Schema: public; Owner: openpg
--

CREATE UNIQUE INDEX ix_ai_functionalities_name ON public.ai_functionalities USING btree (name);


--
-- Name: ix_ai_parameters_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_ai_parameters_id ON public.ai_parameters USING btree (id);


--
-- Name: ix_audit_logs_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_audit_logs_id ON public.audit_logs USING btree (id);


--
-- Name: ix_audit_logs_resource_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_audit_logs_resource_id ON public.audit_logs USING btree (resource_id);


--
-- Name: ix_audit_logs_resource_type; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_audit_logs_resource_type ON public.audit_logs USING btree (resource_type);


--
-- Name: ix_channels_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_channels_id ON public.channels USING btree (id);


--
-- Name: ix_inventory_captures_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_inventory_captures_id ON public.inventory_captures USING btree (id);


--
-- Name: ix_inventory_headers_correlative; Type: INDEX; Schema: public; Owner: openpg
--

CREATE UNIQUE INDEX ix_inventory_headers_correlative ON public.inventory_headers USING btree (correlative);


--
-- Name: ix_inventory_headers_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_inventory_headers_id ON public.inventory_headers USING btree (id);


--
-- Name: ix_inventory_lines_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_inventory_lines_id ON public.inventory_lines USING btree (id);


--
-- Name: ix_logistics_dispatch_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_logistics_dispatch_id ON public.logistics_dispatch USING btree (id);


--
-- Name: ix_logistics_reception_merchandise_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_logistics_reception_merchandise_id ON public.logistics_reception_merchandise USING btree (id);


--
-- Name: ix_logistics_reception_production_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_logistics_reception_production_id ON public.logistics_reception_production USING btree (id);


--
-- Name: ix_logistics_routes_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_logistics_routes_id ON public.logistics_routes USING btree (id);


--
-- Name: ix_logistics_routes_name; Type: INDEX; Schema: public; Owner: openpg
--

CREATE UNIQUE INDEX ix_logistics_routes_name ON public.logistics_routes USING btree (name);


--
-- Name: ix_message_statuses_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_message_statuses_id ON public.message_statuses USING btree (id);


--
-- Name: ix_message_statuses_message_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_message_statuses_message_id ON public.message_statuses USING btree (message_id);


--
-- Name: ix_message_statuses_user_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_message_statuses_user_id ON public.message_statuses USING btree (user_id);


--
-- Name: ix_messages_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_messages_id ON public.messages USING btree (id);


--
-- Name: ix_notification_subscribers_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_notification_subscribers_id ON public.notification_subscribers USING btree (id);


--
-- Name: ix_production_planning_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_production_planning_id ON public.production_planning USING btree (id);


--
-- Name: ix_production_planning_order_number; Type: INDEX; Schema: public; Owner: openpg
--

CREATE UNIQUE INDEX ix_production_planning_order_number ON public.production_planning USING btree (order_number);


--
-- Name: ix_production_reports_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_production_reports_id ON public.production_reports USING btree (id);


--
-- Name: ix_production_reports_order_number; Type: INDEX; Schema: public; Owner: openpg
--

CREATE UNIQUE INDEX ix_production_reports_order_number ON public.production_reports USING btree (order_number);


--
-- Name: ix_roles_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_roles_id ON public.roles USING btree (id);


--
-- Name: ix_roles_name; Type: INDEX; Schema: public; Owner: openpg
--

CREATE UNIQUE INDEX ix_roles_name ON public.roles USING btree (name);


--
-- Name: ix_support_departments_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_support_departments_id ON public.support_departments USING btree (id);


--
-- Name: ix_support_priorities_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_support_priorities_id ON public.support_priorities USING btree (id);


--
-- Name: ix_support_status_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_support_status_id ON public.support_status USING btree (id);


--
-- Name: ix_support_tickets_code; Type: INDEX; Schema: public; Owner: openpg
--

CREATE UNIQUE INDEX ix_support_tickets_code ON public.support_tickets USING btree (code);


--
-- Name: ix_support_tickets_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_support_tickets_id ON public.support_tickets USING btree (id);


--
-- Name: ix_support_types_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_support_types_id ON public.support_types USING btree (id);


--
-- Name: ix_system_insights_category; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_system_insights_category ON public.system_insights USING btree (category);


--
-- Name: ix_system_insights_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_system_insights_id ON public.system_insights USING btree (id);


--
-- Name: ix_system_insights_insight_key; Type: INDEX; Schema: public; Owner: openpg
--

CREATE UNIQUE INDEX ix_system_insights_insight_key ON public.system_insights USING btree (insight_key);


--
-- Name: ix_users_id; Type: INDEX; Schema: public; Owner: openpg
--

CREATE INDEX ix_users_id ON public.users USING btree (id);


--
-- Name: ix_users_username; Type: INDEX; Schema: public; Owner: openpg
--

CREATE UNIQUE INDEX ix_users_username ON public.users USING btree (username);


--
-- Name: ai_parameters ai_parameters_functionality_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.ai_parameters
    ADD CONSTRAINT ai_parameters_functionality_id_fkey FOREIGN KEY (functionality_id) REFERENCES public.ai_functionalities(id);


--
-- Name: inventory_captures inventory_captures_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.inventory_captures
    ADD CONSTRAINT inventory_captures_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: inventory_headers inventory_headers_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.inventory_headers
    ADD CONSTRAINT inventory_headers_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: inventory_lines inventory_lines_header_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.inventory_lines
    ADD CONSTRAINT inventory_lines_header_id_fkey FOREIGN KEY (header_id) REFERENCES public.inventory_headers(id);


--
-- Name: logistics_dispatch logistics_dispatch_route_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.logistics_dispatch
    ADD CONSTRAINT logistics_dispatch_route_id_fkey FOREIGN KEY (route_id) REFERENCES public.logistics_routes(id);


--
-- Name: message_statuses message_statuses_message_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.message_statuses
    ADD CONSTRAINT message_statuses_message_id_fkey FOREIGN KEY (message_id) REFERENCES public.messages(id);


--
-- Name: message_statuses message_statuses_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.message_statuses
    ADD CONSTRAINT message_statuses_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: messages messages_author_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_author_id_fkey FOREIGN KEY (author_id) REFERENCES public.users(id);


--
-- Name: messages messages_channel_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT messages_channel_id_fkey FOREIGN KEY (channel_id) REFERENCES public.channels(id);


--
-- Name: support_tickets support_tickets_assigned_to_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_assigned_to_id_fkey FOREIGN KEY (assigned_to_id) REFERENCES public.users(id);


--
-- Name: support_tickets support_tickets_created_by_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_created_by_id_fkey FOREIGN KEY (created_by_id) REFERENCES public.users(id);


--
-- Name: support_tickets support_tickets_department_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_department_id_fkey FOREIGN KEY (department_id) REFERENCES public.support_departments(id);


--
-- Name: support_tickets support_tickets_priority_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_priority_id_fkey FOREIGN KEY (priority_id) REFERENCES public.support_priorities(id);


--
-- Name: support_tickets support_tickets_status_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_status_id_fkey FOREIGN KEY (status_id) REFERENCES public.support_status(id);


--
-- Name: support_tickets support_tickets_type_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.support_tickets
    ADD CONSTRAINT support_tickets_type_id_fkey FOREIGN KEY (type_id) REFERENCES public.support_types(id);


--
-- Name: users users_role_fkey; Type: FK CONSTRAINT; Schema: public; Owner: openpg
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_fkey FOREIGN KEY (role) REFERENCES public.roles(id);


--
-- PostgreSQL database dump complete
--

